<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../stylesheet.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../scripts/script.js"></script>
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1> LOGIN: VERSION 0.2 </h1> 

    <div class="container">
        <label class="loginLabel">Username</label>
        <input class="loginInput" id="usernameInput" type="text" placeholder="Enter Username" name="username" >
        <label class="loginLabel">Password</label>
        <input class="loginInput" id="passwordInput" type="password" placeholder="Enter Password" name="password">
        <button  id="loginButton">Login</button>
        <p id="loginDisplay"></p>
    </div>
</body>


</html>